<html>
<div>
    <h1>Txpool explorer</h1>
    <p>Set contract address to start track new pending txs</p>
    <input id="input" type="text" size="40" />
    <button onclick="send()">Set</button>
    <pre id="output"></pre>
</div>
<style>
    html {
        text-align: center;
        font-size: 16px;
    }
    div {
        padding: 1rem;
    }
    #input {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
</style>
<script>
    var input = document.getElementById("input");
    var output = document.getElementById("output");
    var socket = new WebSocket("ws://217.151.231.111:8081/txpool");

    socket.onopen = function () {
        output.innerHTML += "\nStatus: Connected";
    };

    socket.onmessage = function (e) {
        console.log(e)
        output.innerHTML = "\nPending txs count: " + e.data;
    };

    function send() {
        socket.send(input.value);
        input.value = "";
        output.innerHTML = "\nPending txs count: -"
    }
</script>
</html>